
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Capstone-Udacity_Machine_Learning_Engineer_with_Microsoft_Azure_Nanodegree_Program/v16/.suo
.ipynb_checkpoints/hyperparameter_tuning-checkpoint.ipynb
.ipynb_checkpoints/automl-checkpoint.ipynb
